{% extends 'base.html' %}

{% block head %}
<style>
	button {
		font-size: 24px;
		margin-bottom: 5px !important;
	}
	.btn-success {
		margin-top: 5px;
		width: 100%;
	}
</style>
{% endblock %}

{% block content %}
	<div class="row">
	  {% for msg in messages %}
	  <div class="col-sm-12">
	  	<button class="btn btn-primary" style="width: 80%;" onclick="setMessage(this)">{{ msg }}</button>
	  	<button class="btn btn-danger" onclick="deleteMessage({{ loop.index }})"><i class="fa fa-times"></i></button>
	  </div>
	  {% endfor %}
	</div>
	<hr/>
	<div class="row">
	  <div class="col-sm-12">
	  	<input id="newMessageInput" type="text" class="form-control" placeholder="New Message Text">
	  </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-success" onclick="setNewMessage()">Enter New Message <i class="fa fa-check"></i></button>
		</div>
	</div>
	<button class="btn btn-warning" onclick="getMessage()">Fake Send <i class="fa fa-motorcycle"></i></button>
{% endblock %}

{% block foot %}
<script type="text/javascript">
	function setMessage(dom) {
		$.post("/api/setNextMessage", {
	        user: "{{ credentials.email }}",
	        message: $(dom).text()
	    });
	}
	
	function getMessage() {
		$.post("/api/getNextMessage", {
	        user: "{{ credentials.email }}"
	    }, function (result) {
		    console.log(result);
	    });
	}
	
	function deleteMessage(index) {
		$.post("/api/deleteMessage", {
	        user: "{{ credentials.email }}",
	        index: index - 1
	    });
	}
	
	function setNewMessage() {
		$.post("/api/newMessage", {
	        user: "{{ credentials.email }}",
	        text: $("#newMessageInput").val()
	    });
	}
</script>
{% endblock %}